.App {
  font-family: sans-serif;
  text-align: center;
}

@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes end {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.start-animation {
  animation-name: start;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.end-animation {
  animation-name: end;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
